# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\YandexDisk\Загрузки\для студентов урок 6 курс js1\домашняя работа урок 6 js1\2 выполните практические задания\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
